@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.leaflet-bottom {
  display: none !important;
}

.placement-bottom-start {
  z-index: 9999 !important;
  /* left: 30.6% !important; */
  /* top:1% !important; */
  /* max-width: 100% !important; */
}
.menu-flags-1 {
  background-color: transparent;
}

.menu-flags-1 button {
  background-color: white;
  border: none;
  border-bottom: #7e7e7e 1px solid;
  border-radius: 0;
}

.form-input-container {
  display: inline-block;
  margin-right: 10px;
}
